a{
    text-decoration: none;
}
.font{
    font-stretch: condensed;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
button{
    cursor: pointer;
    outline: none;
}
/* header */
header{
    background-color: white;
    display: flex;
    justify-content: center;
}
.bg-turquoise{
    background-color: #4ccfc1;
    display: flex;
    justify-content: center;
}
.container{
    width: 1170px;
    display: flex;
}
header .container{
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
h1{
    font-size: 49px;
    color: #3cc3b5;
    font-family: 'Lobster', cursive;
}
.search{
    width: 435px;
    height: 35px;
    border: solid 1px #e1e1e1;
    display: flex;
    justify-content: space-between;
}
.search input{
    border: none;
}
.search input[type="search"]{
    flex-grow: 1;
    font-size: 20px;
    color: rgb(182, 182, 182);
}
.search input[type="submit"]{
    background-color: transparent;
    background-image: url(../img/search.png);
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
}
.search input[type="submit"]:hover{
    filter: contrast(0);
}
.basket{
    display: flex;
    align-items: center;
}
.basket img{
    margin-right: 15px;
}
.basket span{
    font-size: 33px;
    color: #a1a1a1;
}


/* nav */
nav{
    display: flex;
    justify-content: center;
    background-color: #4ccfc1;
}
nav .container{
    padding: 10px 0px;
}
nav .container a{
    color: white;
    font-size: 21px;
    padding: 0 10px;
    flex-grow: 1;
    border-right: solid 2px white;
    box-sizing: border-box;
    text-align: center;
    font-weight: inherit;
}
nav .container a:hover{
    color: #d6d2d2;
}
nav .container a:last-of-type{
    border-right: none;
}

/* main */
/* section carousel */
section.carousel{
    background-color: #40c0b8;
    display: flex;
    justify-content: center;
}
.carousel .container> img{
    margin: 60px 75px;
}
.description{
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.description h2{
    font-size: 61px;
    color:white;
    white-space: pre-line;
    margin-top: 30px;
}
.description p{
    font-size: 17px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}
.description button{
    color: white;
    border: solid 3px white;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 27px;
    background-color: transparent;
}
.description img{
    margin: 20px 0; 
}

/* section three-product */
.three-product{
    background-color: white;
    display: flex;
    justify-content: center;
}
.block-ad{
    width: 33.333%;
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
    border-right: solid 1px #e7e7e7;
}
.block-ad:last-of-type{
    border: none;
}
.block-ad p{
    font-size: 27px;
    color: #afafaf;
}
.block-ad button{
    background-color: #3cc395;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 19px;
}
.block-ad div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    max-width: 120px;
}

/*section FEATURED pRODUCTS */
.featured-header{
    background-color: #39c2b3;
    display: flex;
    justify-content: center;
}
.featured-header .container{
    padding: 20px 50px;
    color: white;
    font-size: 31px;
    box-sizing: border-box;
}
section.featured{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
section.featured .container{
    display: flex;
    flex-wrap: wrap;
}
.wrapper-33{
    width: 33.333%;
    padding: 25px 30px;
    box-sizing: border-box;
}
.block-feature{
    border:solid 1px #e4e4e4;
    border-bottom: 5px solid #3cc395;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block-feature img{
    margin-top: 45px;
}
.block-feature p{
    color: #afafaf;
    font-size: 27px;
    margin-top: 20px;
}
.block-feature div{
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.wrap-buy-now span{
    color: #afafaf;
    font-size: 27px;
    margin-right: 15px;
}
.wrap-buy-now button{
    background-color: #3cc395;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 3px;
    padding: 10px;
}

/* footer */
footer section.lists{
    display: flex;
    justify-content: center;
    background-color: #3cc3b5;
}
.lists .container{
    display: flex;
    padding: 40px 50px;
    box-sizing: border-box;
}
footer .list{
    width: 25%;
}
.list h3{
    font-size: 27px;
    color: white;
    margin-bottom: 20px;
}
.list ul li{
    padding: 5px;
}
.list ul li a{
    position: relative;
}
.list ul li a::after{
    content: '';
    display: block;
    background-color: white;
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 1px;
    width: 0;
    transition: width .3s;
}
.list ul li:hover ::after{
    width: 100%;
}
.list ul a{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px;
    background-color: #2da89b;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}